<div id="header" class="HeaderContainer">
  <div id="homebutton">
    <a href="http://zemosolabs.com/" target="_blank">
      <img src="/assets/images/zemoso_logo.png" id="homebutton">
    </a>
  </div>
  <div class="headerDivider">

  </div>
  <div id="header-title">
    <h1 id="title">Welcome to Zemoso emplyoee portal</h1>
  </div>
</div>