<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Manikanta Gadde</h2>
  <p>Developer</p>
  <p>
    Current Project: ZeSharing
  <address>
    Address<br>
    Manikonda, Hyderabad <br>
    Telangana, 500089
  </address>
  <a href="tel:8266802238">+91-8266802238</a><br>
  <a href="mailto:manikantagadde123@gmail.com">manikantagadde123@gmail.com</a>
  </p>
</div>

<!--<a href="http://localhost:8082/saml/SingleLogout">-->
<button id="logout-button" class="button" {{action "onLogout"}}>
  <h3>Logout</h3>
</button>
<!--</a>-->





